%h1.text-center Facturas
= link_to 'Nueva Factura', new_bill_path, class: 'btn btn-success btn-sm mb-2'

%table.table.table-bordered.table-striped#bill-list
  %thead
    %tr
      %th Cliente
      %th Emición
      %th Vencimiento
      %th Opciones
  %tbody
    - @bills.each do |bill|
      %tr
        %td= bill.client_names
        %td= bill.emitting_date
        %td= bill.expiration_date
        %td
          = link_to 'Editar', edit_bill_path(bill)
          = link_to 'Borrar', bill_path(bill), method: :delete,
            data: { confirm: 'Esta seguro' }
