%h1.text-center Facturas
= link_to 'Nueva Factura', new_bill_path, class: 'btn btn-success btn-sm mb-2'

%table.table.table-bordered.table-striped#bill-list
  %thead
    %tr
      %th Estatus
      %th Cliente
      %th Emición
      %th Vencimiento
      %th Monto
      %th Pagado
      %th Recargos
      %th Opciones
      %th Total a Pagar
  %tbody
    - @bills.pendiente.each do |bill|
      %tr
        %td= bill.status
        %td= bill.client_names
        %td= bill.emitting_date
        %td= bill.expiration_date
        %td= number_to_currency bill.amount
        %td= number_to_currency bill.payoff
        %td= number_to_currency bill.penalty
        %td= number_to_currency bill.total_to_pay
        %td
          = link_to 'Pagar', new_bill_payment_path(bill)
          = link_to 'Ver', bill
          = link_to 'Editar', edit_bill_path(bill)
          = link_to 'Borrar', bill_path(bill), method: :delete,
            data: { confirm: 'Esta seguro' }
