%h1.text-center.mt-4 Factura No.  #{@bill.id}
%h3.ml-3.text-dark Estatus: #{@bill.status}
.col-4
  %table.table.table-bordered.table-sm
    %thead.bg-dark.text-white
      %tr
        %th Cliente
        %th Emitida
        %th Vence
        %th Total
      %tbody
        %tr
          %td= @bill.client_names
          %td= l @bill.emitting_date, format: :short
          %td= l @bill.expiration_date, format: :short
          %td= number_to_currency @bill.amount
        %tr
          %td{ colspan: '2' }
          %td.bg-dark.text-white Recargos
          %td= number_to_currency @bill.penalty
        %tr
          %td{ colspan: '2' }
          %td.bg-dark.text-white Pagado
          %td= number_to_currency @bill.payoff
        %tr
          %td{ colspan: '2' }
          %td.bg-dark.text-white Total
          %td= number_to_currency @bill.total_to_pay
.col-12
  %h2 Desgloce
  %table.table.table-bordered.table-sm
    %thead.bg-dark.text-white
      %tr
        %th Concepto
        %th Cantidad
        %th Monto
        %th Subtotal
    %tbody
      - @bill.items.each do |item|
        %tr
          %td= item.description
          %td= item.quantity
          %td= number_to_currency item.amount
          %td= number_to_currency item.subtotal
.col-12
  %h2 Pagos
  %table.table.table-bordered.table-sm
    %thead.bg-dark.text-white
      %tr
        %th Fecha Creación
        %th Fecha Aplicación
        %th Monto
    %tbody
      - @bill.payments.each do |payment|
        %tr
          %td= l payment.creation_date, format: :short
          %td= l payment.apply_date, format: :short
          %td= number_to_currency payment.amount
