%h1 Factura No.  #{@bill.id}
%h2 Estatus: #{@bill.status}
.col-4
  %table.table.table-bordered
    %thead
      %tr
        %th Cliente
        %th Emitida
        %th Vence
        %th Total
      %tbody
        %tr
          %td= @bill.client_names
          %td= l @bill.emitting_date, format: :short
          %td= l @bill.expiration_date, format: :short
          %td= number_to_currency @bill.amount
        %tr
          %td{ colspan: '2' }
          %td Recargos
          %td= number_to_currency @bill.penalty
        %tr
          %td{ colspan: '2' }
          %td Pagado
          %td= number_to_currency @bill.payoff
        %tr
          %td{ colspan: '2' }
          %td Total
          %td= number_to_currency @bill.total_to_pay
.col-12
  %h2 Desgloce
  %table.table.table-bordered
    %thead
      %tr
        %th Concepto
        %th Cantidad
        %th Monto
        %th Subtotal
    %tbody
      - @bill.items.each do |item|
        %tr
          %td= item.description
          %td= item.quantity
          %td= number_to_currency item.amount
          %td= number_to_currency item.subtotal
